############
## Windows
############

# Windows image file caches
Thumbs.db

# global
*.lnk
*.tmp
*.temp

# idea
*.iml
*.ipr
*.iws
.idea/

# netbeans
nbproject/private/
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# java
*.class
*.jar